header{
    background: $cor-primaria;
    padding: 25px;
  
    form{
      input[type="text"]{
        background: $branco;
        width: 100%;
        border-radius: 100px;
        border: none;
        padding: 10px 20px;
      }
      
      button{
        background: none;
        border: none;
        position: absolute;
        right: 25px;
      }
    }
  
    ul{
      li{
        position: relative;  
        a{
          font-size:16px;
          font-weight: bold;
          color: $cor-secundaria;
          svg{
            margin-bottom: 7px;
            font-size: 25px;
          }
  
          &:hover{
            color: initial;
          }
        }
      }
    }
  }